<form class="join-form" action="" method="post" >{% csrf_token %}
        <div class="alert alert-danger join-form-alert" style='display:none'>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <span class="join-form-error"></span>
        </div>
        {% if form.non_field_errors  %}
          <div class="alert alert-danger alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
             {{ form.non_field_errors  }}.
            </div>
            {% endif %}
      <div class="form-group">
          <!-- {{ form.as_p }} -->
          {% for field in form %}
          {% if field.errors %}
          <div class="alert alert-danger alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
             {{ field.errors }}.
            </div>
            {% endif %}
          <div class="input-group">
           {{ field }}
          
          <span class="input-group-btn">
          <input type="submit" value="Join" class="btn btn-default"></span>
      </div>
    </div>
    {% endfor %}
    </form>