<div class="container">
        <div class="jumbotron">
        
        <div class="row">
        <div class="col-sm-12 text-center">
        <h1>{{ page_obj.title }}</h1>
        <p>{{ page_obj.title_description|linebreaks }}</p>
        {% if title_btn_url %}
        <p><a class="btn btn-primary btn-lg" href="{{ page_obj.title_btn_url }}" role="button">{{ page_obj.title_btn }} &raquo;</a></p>
        {% endif %}
        </div>

        </div>
        </div>
        </div>

        <div class="container">
        <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
        <div class="row">
        <div class="col-xs-8">
        <h2>join Us</h2>
        </div>
        <div class="row">
                <div class="col-xs-8">
                <p>
                {% include 'pages/snippet/join-form.html' with form=form %}
                </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if page_obj.video_embed %}
        <div class="row">
        
        <div class="col-sm-8 col-sm-offset-2">
        <div class="embed-responsive embed-responsive-16by9">
        {{ page_obj.video_embed|safe }}
        </div>
        </div>
       
        </div>
        {% endif %}
        </div>
        </div>
        </div>
        <div class="container">
        {{ page_obj.content|safe }}
        </div>