<div class="container">
        <div class="jumbotron">
        
        <div class="row">
        <div class="col-sm-12 text-center">
        <h1>{{ object.title }}</h1>
        <p>{{ object.title_description|linebreaks }}</p>
        {% if title_btn_url %}
        <p><a class="btn btn-primary btn-lg" href="{{ object.title_btn_url }}" role="button">{{ page_obj.title_btn }} &raquo;</a></p>
        {% endif %}
        </div>

        </div>
        </div>
        </div>

        <div class="container">
      
        <div class="row">
                <div class="col-xs-12" style="background:#ccc;">
                <p>
                {% include 'pages/snippet/join-form.html' with form=form %}
                </p>
                 
        </div>
    </div>
    {% if object.video_embed %}
        <div class="row">
        
        <div class="col-sm-8 col-sm-offset-2">
        <div class="embed-responsive embed-responsive-16by9">
        {{ object.video_embed|safe }}
        </div>
        </div>
       
        </div>
        {% endif %}
        </div>
        </div>
        </div>
        <div class="container">
        {{ object.content|safe }}
        </div>