<div class="jumbotron">
        <div class="container">
          <div class="row">
            <div class="col-sm-6">
          <h1>{{ page_obj.title }}</h1>
          <p>{{ page_obj.title_description|linebreaks }}</p>
          {% if title_btn_url %}
          <p><a class="btn btn-primary btn-lg" href="{{ page_obj.title_btn_url }}" role="button">{{ page_obj.title_btn }} &raquo;</a></p>
          {% endif %}
        </div>
        {% if page_obj.video_embed %}
        <div class="col-sm-6">
          <!-- 16:9 aspect ratio -->
    <div class="embed-responsive embed-responsive-16by9">
        {{ page_obj.video_embed|safe }}
      </div>
        </div>
        {% endif %}
          </div>
        </div>
      </div>

      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
          <div class="col-xs-4">
            <h2>join Us</h2>
            </div>
            <p>
              <div class="col-xs-8">
              {% include 'pages/snippet/join-form.html' with form=form %}
            </div>
          </div>
            </p>
           </div>
        </div>
        </div>
        <div class="container">
          {{ page_obj.content|safe }}
        </div>