{% extends "base.html" %}


{% block content %}
<body>

        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Ousseynou Diop</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <!-- <form class="navbar-form navbar-right">
                <div class="form-group">
                  <input type="text" placeholder="Email" class="form-control">
                </div>
                <div class="form-group">
                  <input type="password" placeholder="Password" class="form-control">
                </div>
                <button type="submit" class="btn btn-success">Sign in</button>
              </form> -->
            </div><!--/.navbar-collapse -->
          </div>
        </nav>
    
        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron">
    
          <div class="container">
            <h1>{{ page_obj.title }}</h1>
            <p>{{ page_obj.title_description|linebreaks }}</p>
            {% if title_btn_url %}
            <p><a class="btn btn-primary btn-lg" href="{{ page_obj.title_btn_url }}" role="button">{{ page_obj.title_btn }} &raquo;</a></p>
            {% endif %}
          </div>

        </div>
    
        <div class="container">
          <!-- Example row of columns -->
          <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
            <div class="col-xs-4">
              <h2>join Us</h2>
              </div>
              <p>
                  <div class="col-xs-8">
                <form action="" method="post" class="inline-form">{% csrf_token %}
                  <div class="form-group">
                      <!-- {{ form.as_p }} -->
                      <div class="input-group">
                      <input type="email" class="form-control" placeholder="jane.doe@example.com">
                      <span class="input-group-btn">
                      <input type="submit" value="Join" class="btn btn-default"></span>
                  </div>
                </div>
                </form>
              </div>
            </div>
              </p>
             </div>
          </div>
          </div>
          <div class="container">
            {{ page_obj.content|safe }}
          </div>
          <div class="container">
          <footer>
            <p>&copy; 2016 Company, Inc.</p>
          </footer>
        </div>
        </div> <!-- /container -->
{% endblock content %}
    