{% extends "base.html" %}
<style>
{% block styles %}
{% if object.nav_color != '#000000' %}
    .navbar-inverse{
      background-color: {{ object.nav_color }};
      border-color: {{ object.nav_color }};
    }
  {% endif %}
  {% if object.show_nav %}
  body{
    padding-top: 0px;
    padding-bottom: 0px;
    }
  {% endif %}
  {% endblock styles %}
</style>


{% block content %}
<body>
        {% if object.show_nav %}
        {% include 'navbar.html' %}
        {% endif %} 
        <!-- Main jumbotron for a primary marketing message or call to action -->
        {% if object.layout == 'stacked' %}
        {% include 'pages/snippet/stacked_layout.html' with object=object %}
        {% else %}
        {% include 'pages/snippet/standard_layout.html' with object=object %}
         {% endif %}


    

{% endblock content %}
    