<!DOCTYPE html>
<html lang="en">
   
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Ousseynou Diop | developpeur web</title>

    {% include 'head_css.html' %}
<style>
    {% block styles %}
    {% endblock %}
</style>

  </head>
  <body>
      {% if messages %}
      <div class="container">
      <div class="alert alert-success">
        {% for message in messages %}
        {{ message }}
        {% endfor %}
      </div>
    </div>
      {% endif %}
      {% block content %}
      
      {% endblock content %}
    
      <div class="container">
          <footer>
            <p>&copy; 2018 Xarala, Inc.</p>
          </footer>
        </div>
        </div> <!-- /container -->

 {% include 'js.html' %}

  <script>
    $(document).ready(function(){
      var $marketingModel = $("#signUpModelel");
      var didDissmissedModel = false;
      var doShowMarketing = false;

      doShowMarketing = $(".leave-capture").attr("show") == "true";
      $("body").mouseleave(function(){
        if (!didDissmissedModel && doShowMarketing){
          $marketingModel.modal()
        }
        
      })
      $marketingModel.on("hidden.bs.modal", function(e){
        didDissmissedModel = true;
      })
      $(".join-form").submit(function(e){
        e.preventDefault()
        var joinEmailAPIEndpoint = "{% url 'join-me' %}";
        $.ajax({
          method: "POST",
          data: $(this).serialize(),
          url: joinEmailAPIEndpoint,
          success: function(data){
            didDissmissedModel = true;
            $marketingModel.modal("hide");
            $(".join-form").parent().html("<p class='lead'> Succes! Thanks For Joining </p>")
          },
          error: function(data){
            $(".join-form-alert").fadeIn();
            $(".join-form-error").text(data.responseJSON.email[0]);
          }
        })
      })
    })
  </script>
 <script>
    $(document).ready(function(){
      {% block jquery %} {% endblock %}
    })
</script>
  {% include 'newsletter/snippet/model.html' %} 
  </body>
</html>